.advantages__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 25px;

  color: var(--dark-grey-color);
}

.advantages__subtitle {
  position: relative;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--dark-grey-color);
  margin-bottom: 35px;
}

.advantages__subtitle:before {
  display: block;
  content: '';
  position: absolute;
  top: 13px;
  left: calc(50% - 96px);
  width: 43px;
  border: 2px solid var(--dark-grey-color);
  border-top: none;
  border-right: none;
}

.advantages__subtitle:after {
  content: '';
  position: absolute;
  top: 13px;
  right: calc(50% - 95px);
  width: 43px;
  border: 2px solid var(--dark-grey-color);
  border-top: none;
  border-right: none;
}

.advantages__text {
  max-width: 724px;
  margin: 0 auto 59px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: var(--dark-grey-color);

}

.advantages__list {
  display: flex;
  margin: 0 auto;
  max-width: 990px;
  justify-content: center;
  gap: 50px;
  counter-reset: count 0;
}

.advantages__item {
  max-width: 196px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--dark-grey-color);
}

.advantages__item:before {
  content: counter(count);
  display: block;
  margin: 0 auto 16px;
  padding-top: 37px;
  width: 122px;
  height: 122px;
  background-color: var(--light-blue-color);
  border-radius:50%;

  font-weight: 500;
  font-size: 57px;
  line-height: 57px;
  color: var(--white-color);
  counter-increment: count;
}

@media (max-width: 1024px) {

  .advantages__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }
  
  .advantages__subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 33px;
  }
  
  .advantages__subtitle:before {
    width: 40px;
  }
  
  .advantages__subtitle:after {
    width: 40px;
  }
  
  .advantages__text {
    max-width: 666px;
    margin: 0 auto 50px;
    font-size: 16px;
    line-height: 23px;
  }
  
  .advantages__list {
    max-width: 812px;
    gap: 25px;
    
  }
  
  .advantages__item {
    max-width: 180px;
    font-size: 18px;
    line-height: 25px;
  }
  
  .advantages__item:before {
    margin: 0 auto 26px;
    padding-top: 22px;
    display: block;
    width: 104px;
    height: 104px;
    font-weight: 500;
    font-size: 52px;
  }
}

@media (max-width: 819px) {

  .advantages__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {

  .advantages__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  
  .advantages__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  
  .advantages__subtitle:before {
    width: 20px;
  }
  
  .advantages__subtitle:after {
    width: 20px;
  }
  
  .advantages__text {
    max-width: 290px;
    margin: 0 auto 40px;
    font-size: 12px;
    line-height: 17px;
  }
  
  .advantages__item {
    font-size: 18px;
    line-height: 25px;
  }
  
  .advantages__item:before {
    margin: 0 auto 26px;
    padding-top: 22px;
    display: block;
    width: 104px;
    height: 104px;
    font-weight: 500;
    font-size: 52px;
  }
}