.advantages__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 25px;

  color: var(--dark-grey-color);
}

.advantages__subtitle {
  position: relative;
  padding: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--dark-grey-color);
  margin-bottom: 35px;
}

.advantages__subtitle:before {
  display: block;
  content: '';
  position: absolute;
  top: 12px;
  left: calc(50% - 90px);
  width: 43px;
  border: 2px solid var(--dark-grey-color);
  border-top: none;
  border-right: none;
}

.advantages__subtitle:after {
  content: '';
  position: absolute;
  top: 12px;
  right: calc(50% - 90px);
  width: 43px;
  border: 2px solid var(--dark-grey-color);
  border-top: none;
  border-right: none;
}

.advantages__text {
  padding: 0 237px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: var(--dark-grey-color);

}

.advantages__list {
  display: flex;
  padding: 0 157px;
  gap: 50px;
  counter-reset: count 0;
}

.advantages__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--dark-grey-color);
}

.advantages__item:before {
  margin: 0 auto 16px;
  padding-top: 32px;
  content: counter(count);
  display: block;
  width: 122px;
  height: 122px;
  background-color: var(--light-blue-color);
  border-radius:50%;

  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: var(--white-color);
  counter-increment: count;
}